.mainvs{
    background: linear-gradient(to right, #fff 50%, #C38AB5 50%);
    &-caption-outer{
        width: 75%;
        background: #EA95BA;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 8px 8px 6px 0px rgba(0,0,0,0.16);
    }
    &-caption-inner{
        background: #fff;
        height: 90%;
        width: 95%;
        box-shadow: 8px 8px 6px 0px rgba(0,0,0,0.16);
    }
    &-caption-title{
        color: #942792;
        font-size: 2.5rem;
    }
}
.bg{
    &-green{
        background: #84D2C9;
    }
    &-clipper{
        background: rgba(255, 255, 255, 0.16);
        -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
    }
}
.btn{
    &-rounded{
        border-radius: 40px;
        min-width: 11rem;
    }
    &-main{
        background-color: #F2A86F;
        color: #2A1C1C;
        border: 0px;
        &:hover{
            color: rgb(78, 56, 56);
            background-color: rgb(187, 129, 84);
        }
    }
    &-purple{
        background: #F87AC1;
        color: #2A1C1C;
        border: 0px;
        &:hover{
            background-color: rgb(207, 99, 160);
            color: #2A1C1C;
        }
    }
}
.vh-100{
    height: 100vh;
}