@media screen and (max-width: 600px) {
  html, body {
    font-size: .9rem; } }

.mainvs {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, #C38AB5));
  background: linear-gradient(to right, #fff 50%, #C38AB5 50%); }
  .mainvs-caption-outer {
    width: 86%;
    height: 98%;
    background: #EA95BA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.16); }
    @media screen and (min-width: 768px) {
      .mainvs-caption-outer {
        width: 75%;
        height: 75%; } }
  .mainvs-caption-inner {
    background: #fff;
    height: 90%;
    width: 95%;
    -webkit-box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.16); }
  .mainvs-caption-title {
    color: #942792;
    font-size: 2.5rem; }
  .mainvs-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1rem; }
    .mainvs-image .mainvs-product {
      width: 75%;
      -ms-flex-item-align: center;
          align-self: center; }
    .mainvs-image .mainvs-logo {
      width: 6rem;
      -ms-flex-item-align: start;
          align-self: flex-start; }
  .mainvs .mainvs-logoproduct {
    width: 50%;
    margin-bottom: 1rem; }

.section-inner {
  position: relative;
  z-index: 100; }
.section-title h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #633874; }
.section-desc {
  width: 50%; }
  .section-desc p {
    color: #D3B5E0; }

.font-white {
  color: #fff; }
.font-red {
  color: #DC3A45; }

.bg-lightgreen {
  position: relative;
  background: #84D2C9; }
.bg-salmon {
  position: relative;
  background: #EEB2A0; }
.bg-indigo {
  position: relative;
  background-color: #D3B5E0; }
.bg-pink {
  position: relative;
  background-color: #EFBFCA; }
.bg-green {
  position: relative;
  background-color: #BFD9AE; }
.bg-clipper {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.16);
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%); }

.btn-rounded {
  border-radius: 40px;
  min-width: 11rem; }
.btn-main {
  background-color: #F2A86F;
  color: #2A1C1C;
  border: 0px; }
  .btn-main:hover {
    color: #4e3838;
    background-color: #bb8154; }
.btn-purple {
  background: #F87AC1;
  color: #2A1C1C;
  border: 0px; }
  .btn-purple:hover {
    background-color: #cf63a0;
    color: #2A1C1C; }
.btn-yellow {
  background: #FFD35A;
  color: #2A1C1C;
  border: 0px; }
  .btn-yellow:hover {
    background: #d8b34d;
    color: #2A1C1C; }

.vh-100 {
  height: 100vh; }

.circle-image-wrapper {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
  width: 50%;
  margin: 0 auto; }
  @media screen and (min-width: 992px) {
    .circle-image-wrapper {
      padding-bottom: 100%;
      width: 100%; } }
.circle-text-wrapper {
  color: #fff;
  position: absolute;
  width: 100%; }
  .circle-text-wrapper.top-right {
    top: 10%;
    left: 76%; }
  .circle-text-wrapper.bottom-right {
    bottom: 22%;
    left: 82%; }
  .circle-text-wrapper.middle-left {
    top: 40%;
    right: 84%; }
.circle-caption-text {
  width: 75%; }
.circle-caption-image {
  width: 25%; }
  .circle-caption-image img {
    margin: 0 auto;
    display: block; }

.polaroid {
  background: #fff;
  padding: 1rem;
  padding-bottom: 4rem; }

.ccard {
  background-color: salmon;
  border-radius: 20%;
  width: 100%;
  padding-bottom: 100%;
  color: #FFF;
  position: relative; }
  .ccard-content {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .ccard-image {
    text-align: center; }
    .ccard-image img {
      width: 77%; }
      @media screen and (min-width: 768px) {
        .ccard-image img {
          width: 100%; } }
  .ccard-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .ccard-title {
        font-size: 1.7rem; } }
    @media screen and (min-width: 992px) {
      .ccard-title {
        font-size: 2rem; } }
  .ccard-blue {
    background: #43b0f0;
    background: -webkit-gradient(linear, left bottom, left top, from(#43b0f0), to(#5fdad1));
    background: linear-gradient(0deg, #43b0f0 0%, #5fdad1 100%); }
  .ccard-indigo {
    background: #9551be;
    background: -webkit-gradient(linear, left bottom, left top, from(#9551be), to(#d850d8));
    background: linear-gradient(0deg, #9551be 0%, #d850d8 100%); }
  .ccard-salmon {
    background: #e76792;
    background: -webkit-gradient(linear, left bottom, left top, from(#e76792), to(#eb9774));
    background: linear-gradient(0deg, #e76792 0%, #eb9774 100%); }
  .ccard-darkblue {
    background: #4bbcf1;
    background: -webkit-gradient(linear, left bottom, left top, from(#4bbcf1), to(#8daaf1));
    background: linear-gradient(0deg, #4bbcf1 0%, #8daaf1 100%); }
  .ccard-info {
    color: #fff;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem; }

.offer-product img {
  width: 75%; }
.offer-satisfaction img {
  width: 10rem; }
.offer-title h2 {
  font-size: 3rem; }
.offer-desc h5 {
  font-size: 2rem; }

.benefit-image {
  width: 50%; }
  .benefit-image img {
    display: block;
    margin: 0 auto; }
  @media screen and (min-width: 600px) {
    .benefit-image {
      width: 12%; } }
.benefit-desc {
  width: 75%; }
.benefit-each {
  margin-top: 1rem; }
  @media screen and (min-width: 600px) {
    .benefit-each {
      margin-top: 3rem; } }

.choice-image {
  width: 75%; }
.choice-text {
  font-size: 1.5rem; }

.min-vh-75 {
  min-height: 75vh; }

.min-vh-100 {
  min-height: 100vh; }

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.testi {
  background-color: red;
  background: url("../images/testi-bg.png");
  background-size: cover;
  background-position: center; }
  .testi-each {
    margin-top: 5rem;
    margin-bottom: 8rem; }
  .testi-image {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 12rem;
    height: 12rem; }
  .testi-name {
    font-weight: bold; }
  .testi-testimonial {
    width: 75%;
    font-size: 1.2rem; }

.slick-prev {
  position: absolute;
  left: 0;
  bottom: 50%;
  font-size: 3.5rem; }

.slick-next {
  position: absolute;
  right: 0;
  bottom: 50%;
  font-size: 3.5rem; }

/*# sourceMappingURL=style.css.map */